/* Generic styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* End Generic Styles */

/* Start Navigation bar */
.main-navbar {
  background-color: #ff47d9;
  padding: 15px 25px;
}

.main-navbar .navbar-brand img {
  width: 45px;
  margin-right: 5px;
}

/* added in bootstrap utilities */
/* .main-navbar .navbar-brand{
  display: flex;
  align-items: center;
} */

.main-navbar .navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: black;
  font-family: "Poppins", sans-serif;
}

.main-navbar .main-navbar__links .nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

/* END Navigation Bar */

/* Start Main Slider */

.main-slider .carousel {
  position: relative;
  background-color: #ff47d9;
}

.main-slider .main-slider__info {
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%); */
  color: #fefefe;
}

.main-slider .main-slider__info h1 {
  font-size: 45px;
  font-weight: 700;
  width: 65%;
  text-transform: uppercase;
}

.main-slider .main-slider__info a {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #fefefe;
  border-radius: 25px;
  transition: .3s;
}

.main-slider .main-slider__info a:hover{
  background-color: #fefefe;
  color: #1e1f1f;
  transition: .3s;
}
/* End Main Slider */
